<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/login}">
    <a>관리자 아이디</a><br/>
    <a>아이디: admin</a><br/>
    <a>비번: 1111</a><br/>
    <a>유저1 아이디</a><br/>
    <a>아이디: user</a><br/>
    <a>비번: 1111</a><br/>
    <a>유저2 아이디</a><br/>
    <a>아이디: user2</a><br/>
    <a>비번: 1111</a><br/>
  아이디<input type="text" name="id" /><br />
  비번<input type="password" name="pwd" /><br />
  <br />
  <input type="submit" /><br/>
    <a href="/home?guest==yes">
        <span>비회원으로 보기</span>
    </a><br/>
</form>

</body>
</html>